@tailwind base;
@tailwind components;
@tailwind utilities;

.initial {
  position: initial;
}
.sticky {
  position: sticky;
}
.active {
  @apply bg-green-50 text-green-500 hover:text-black;
}
.active:hover > svg {
  @apply text-black;
}
.active > svg {
  @apply text-green-500;
}
.head {
  @apply text-4xl uppercase font-semibold mx-6 my-3;
}
/* .tiptap {
  @apply lg:w-full   my-4 lg:h-[18rem]  overflow-auto  leading-5 transition duration-150 ease-in-out sm:text-sm px-4 sm:leading-5 resize-none focus:outline-none  placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg  dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-green-300 placeholder:text-xl;
} */
.tiptap > * + * {
  margin-top: 0.75em;
}
.tiptap ul {
  list-style: disc;
}
.tiptap ol {
  list-style: decimal;
}
.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
}
.tiptap h1 {
  @apply font-extrabold text-2xl;
}
.tiptap h2 {
  @apply font-bold text-xl;
}

.tiptap h3 {
  @apply font-semibold text-xl;
}

.tiptap h4 {
  @apply font-medium text-lg;
}
.tiptap h5 {
  @apply font-semibold text-sm;
}

.tiptap h6 {
  @apply font-bold text-xs;
}

.tiptap code {
  @apply bg-gray-500/5 text-gray-500;
}

.tiptap pre {
  font-family: "JetBrainsMono", monospace;
  @apply bg-gray-800 text-white rounded-lg py-3 px-4;
}
.tiptap pre > code {
  @apply text-sm bg-none text-inherit p-0;
}

.tiptap img {
  @apply max-w-full h-auto;
}

.tiptap blockquote {
  @apply border-l-2 border-l-gray-700 ml-2  pl-2;
}

.tiptap hr {
  @apply border-none border-t-2 border-t-gray-700 dark:border-t-gray-200 mx-0 my-8;
}

.decoration-wavy {
  text-decoration: wavy;
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    @apply bg-slate-200;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-50;
    border-radius: 100vh;
    border: 3px solid #eef7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-green-50;
  }
}
/* Animations */
.spinner-6 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #acac09;
  border-radius: 50%;
  border-color: #ccc #acac09;
  animation: s6 1s infinite linear;
}
.spinner-6.mini {
  width: 2rem;
}
.spinner-6.xs {
  width: 0.5rem;
}
.spinner-6::before,
.spinner-6::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.spinner-6::before {
  border-color: #15840a #acac09;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.spinner-6::after {
  margin: 8px;
}

@keyframes s6 {
  100% {
    transform: rotate(1turn);
  }
}

/* body {
  background: #000;
} */
